.wrapper{
    margin-bottom: 150px;
}
.container{
    position: relative;
}
.round{
    margin: 30px;
    border-radius: 50%;
    background-color: darkgreen;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0px;
    left: 0px;
    transition: left 2s cubic-bezier(0, .5, .5, 1);
}